@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

.autofill-input:-webkit-autofill,
.autofill-input:-webkit-autofill:hover,
.autofill-input:-webkit-autofill:focus,
.autofill-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@keyframes slideIn {
  from {
    translate: 80vw 0;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 100
  }
}
@keyframes slideOut {
  from {
    translate: 0 0;
    opacity: 100;
    display: block;
  }
  to {
    translate: 100vw 0;
    opacity: 0;
    display: none;
  }
}

